.um-account-meta-img,
.um-profile-photo,
.um-field-user_login,
.um-profile-meta {
  display: none;
}

.um .um-account-name {
  padding-top: 0;
}

.um .um-header {
  min-height: auto;
  padding: 0;
  border: 0
}

.um-profile.um .um-profile-headericon a:hover,
.um-profile.um .um-profile-edit-a.active {
  color: #64AC1E !important;
  font-weight: bold;
}

.um .um-dropdown {
  border: 1px solid #C5C6C6;
}

#main .um-dropdown ul li:before {
  display: none;
}

.um .um-dropdown li:last-child a {
  border-top: 1px solid #C5C6C6;
}

.um-profile.um .um-profile-headericon a {
  color: #6e6e6e !important;
}

.um .um-dropdown-arr * {
  color: #C5C6C6;
  font-size: 24px;
}

.um-account-meta {
  background: #64AC1E;
  color: white;
  padding: 1rem;
}

div .um-account-side {
  padding: 0 30px 0 0;
  li:before {
    display: none;
  }
}

#page div.uimob500 .um-account-meta {
  margin-bottom: 1rem;
}


.um .um-account-name a,
#page .um a.um-link {
  color: white;
}

#page .um-account-nav a {
  color: #292929 !important;
}

#page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta {
  margin: 0 !important;
}

@media (min-width: 992px) {
  #page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta {
    margin-bottom: 1rem !important;
  }
}

#page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta img {
  display: none;
}

#page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta a {
  border: 0;
}

#page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta a::before {
  font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f2bb";
    color: white;
    font-size: 22px;
}

@media (min-width: 992px) {
  #page .um-account-side.uimob340-hide.uimob500-hide .um-account-meta a::before {
    display: none;
  }
}

#page div.uimob800 .um-account-side ul {
  border: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#page div.uimob800 .um-account-side li a {
  border-right: 1px solid #c5c6c6;
  border-left: 1px solid #c5c6c6;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
#page div.uimob800 .um-account-side li:first-child a {
  border-top: 1px solid #c5c6c6;
}
#page div.uimob800 .um-account-side li:last-child a {
  border-bottom: 1px solid #c5c6c6 !important;
}

#page div.uimob800 .um-account-side li a.current,
#page div.uimob800 .um-account-side li a.current:hover {
  background: #004995;
  border-color: #004995;
}

#page .um-account-side li a.current span.um-account-icon {
  color: #004995;
}


.um .um-account-name a:hover {
  color: white;
}

.um-account-profile-link {
  background: #004995;
  line-height: 48px;
  margin: 1rem 3rem 0.5rem;
  a {
    font-size: 1rem !important;
    display: block;
    line-height: 48px !important;
  }
  &:hover {
    opacity: 0.9;
  }
}
